@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,700&display=swap');




body {
  /*background-color: #39CCCC !important;  */
  font-family: 'Nunito Sans', sans-serif !important;
  
}

#textWeather {
  color: #111111;
  margin-top: 2em;
  font-weight: 300 !important;
  font-style: italic;
}

.mainCont {
  margin-top: 6em;
}

.mainCols {
 /*border: 2px solid red;*/
  text-align: center;
}

.searchCol, .sCols {
  /*border: 2px solid blue;*/
  margin-top: 2em;
  text-align: center;
}



.sCols ul {
  list-style-type: none;


}

.sCols li {
 
}